.contenedor{
	width:1100px;
    margin:auto;
}

p,h3,h6,span{
	font-family: "Lato",sans-serif;
}

h1,h5{
	font-family: "Source Sans Pro",sans-serif;
}

nav {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: none;
}

ul{
	list-style-type: none;
	display: flex; 
}

a{
	text-decoration: none;
	color: #ffffff;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	display: inline-block;
	padding: 10px;
	padding-right: 20px;
	border-bottom: 2px;
}

nav a:hover{
	border-bottom: 2px solid #ffffff;
}

h6 {
	font-weight: 300;
	font-size: 24px;
	color: white;
	margin-bottom: 0;
}

.linea_blanca{
	width: 650px;
	height: 2px;
    background-color:white;
    display: inline-block;
}

h1{
	font-size: 52px;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	margin-top: 0;

}
.boton {
	display: inline-block;
	font-family: "Lato",sans-serif;
	border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-left: 50px;
}

.rectangulo{
	height: 104px;
	width: 1019px;
	background-color: white;
	display: inline-block;
	position: relative;
    margin-top: 63px;

}

header{
	text-align: center;
	margin: auto;
	background-image: url(../imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	padding-bottom: 100px;
}

span.linea:before{
    height: 1px;
    background-color:black;
    width:45px;
    display: inline-block;
    content: '';
    position: relative;
    margin-bottom: 10px;
    margin-right: 15px;
}

.titulo{
	font-size: 37px;
	color: black;
	font-weight: 400;
}


p{
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 120px;
}

.encabezado{
	margin-top: 200px;
}

.fondo{
	background-color: #F2F2F2;
}

.cajas{
	display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.caja{
	background-color: #4D4D4D;
	width: 511px;
	height: 326px;
}

article:nth-child(2){
	background-color: #F07D66;
}

article:nth-child(3){
	background-color: #F4AD1D;
}

.linea2{
	width: 95px;
	height: 1px;
    background-color:white;

}

h5{
	font-size: 28px;
	text-transform: uppercase;
	color: white;
	padding-left: 50px;
    margin-bottom: auto;
    font-weight: 900;
}

.descripcion{
	font-size: 24px;
	color: white;
	text-align: left;
    padding-left: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.icono{
	display: block;
    margin: auto;
    align-content: center;
    margin-top: 80px;
}

.fondo2{
	background-color: #F07D66;
	padding-top: 90px;
}

img{
	margin-top: 50px;
}

.ejemplo2{
	margin-top: 0;
}

footer{
	background-color: #2E2E2E;
}

.facebook{
	font-size: 44px;
	color: white;
}



